<div id="profile-content" class="modal-wrap">
  <div class="modal-header">Profile</div>
  <div class="modal-main">
    <div class="profile-image"></div>
    <div class="profile-main">
      1993年12月21日、福井県出身。
      福井大学情報メディア工学部に入学し、大学院に進学。
      その後、共同コンピュータ株式会社に入社し、国交省や、消防などのイントラWebシステムを開発。
      SpringBoot,node.js等で多くのシステムを開発し、現行システムの改修も行っている。
      趣味では音楽活動やカメラ撮影を行い、バンドのWebページやPV作成、レコーディングを自ら取り組み、多岐にわたるメディア作品の知識を習得。
      応用情報技術者試験、ウェブデザイン技能検定3級を取得。
      「知識には貪欲に、チャレンジすること」をモットーにコーディング技術だけでなく、メディア関連の技術も身に着けていくことで、視野を広げていけるよう心がけています。
    </div>
  </div>
</div>
