<div id="speciality-content" class="modal-wrap">
  <div class="modal-header">Speciality</div>
  <div class="modal-main">
    <div class="speciality-content" name="web-page">
      <span class="sub-label">Web page</span>
      <div class="sub-content link web">HOMEPAGE LINK</div>
    </div>
    <div class="speciality-content" name="music-video">
      <span class="sub-label">Music video</span>
      <div class="sub-content link video">YOUTUBE LINK</div>
    </div>
    <div class="speciality-content" name="experience">
      <span class="sub-label">Experience</span>
      <div class="sub-content">音楽活動を通じて様々な経験をしてきました。
        3人という少人数で演奏し、活動をしていくには個人の努力が不可欠であり、技術の向上はもちろん、メンバー間のコミュニケーションも重要となってきます。
        様々なライブハウスに足を運び演奏し、仲間に助言をもらい、音響のエンジニアに質問し、様々な意見を取り込み、自分たちの課題に向き合い成長していきました。
        また、音楽を発信していく上で、私はWeb page、Music Video、recodingの制作を行いました。自分で方法を調べ、分からないことは友人に聞き、形にしてきました。
        その結果もあり、Music Videoを見たと、地元テレビ局からテーマソングのオファーもいただき、自主企画では100人を超える動員となりました。
        活動をしていく中で、価値観、環境が違う人と連絡を取り、共にお酒を飲み、切磋琢磨することで、
        挨拶の大切さ、約束、連絡を守ることの大切さを改めて実感することができました。
        自分が主体となり、自らが発案し、実行に移し、反省し、再度課題に取り組む経験は音楽活動無しでは得られないものもあったと感じています。
        バンドというと世間ではあまりいいイメージはないかもしれません。しかし、私にとって音楽活動の経験は一生の財産であり、間違いなく自分の成長に繋がったと自負しています。
      </div>
    </div>
  </div>
</div>
