.cd-modal{
	display: flex;
	align-items: center;
}
.modal-content {
	@extend .flexible-center-start;
	height: auto !important;
	font-size: 15px;
	.modal-wrap {
		width: 97%;
		background-color: rgba(#2a2a2a, 0.91);
		padding: 10px;

		.modal-header {
			font-size: 30px;
			padding-left: 30px;
	    margin: 15px 0 15px;
	    border-bottom: 1px solid;
		}
	}
}

.modal-close {
	cursor: pointer;
}
