.cd-modal {
	display: flex;
	align-items: center;

	&.speciality{
		overflow-y: scroll !important;
	}
	&.photographs{
		overflow-y: scroll !important;
	}
}

.modal-content {
	@extend .flexible-center-start;
	height: auto !important;
	font-size: 15px;
	padding: 3em !important;

	&.speciality {
		position: absolute;
		top: 0;
	}

	&.photographs {
		position: absolute;
		top: 0;
	}

	.modal-main {
		display: flex;
		font-size: 18px;
	}

	.modal-wrap {
		width: 97%;
		background-color: rgba(#2a2a2a, 0.91);
		padding: 10px;

		.modal-header {
			font-size: 35px;
			padding-left: 30px;
			margin: 15px 0;
			border-bottom: 1px solid;
		}

	}
}

.modal-close {
	cursor: pointer;
	position: fixed !important;
}
.cd-transition-layer{
	overflow-y: scroll !important;
}
