#profile-content {
	.modal-main {
		flex-wrap: wrap;

		.profile-image {
			padding: 0 30px;
		}

		.profile-main {
			white-space: pre-line;
			padding:0 30px;
			display: flex;
			align-items: center;
		}
	}
}
