#profile-content {
	.modal-main {
		flex-wrap: wrap;

		.profile-image {
			padding-left: 30px;
		}

		.profile-main {
			white-space: pre-line;
			padding-left: 30px;
			font-size: 15px;
			display: flex;
			align-items: center;
		}
	}
}
